.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.animalBox {
  border: 3px black solid;
  border-radius: 20px;
  width: 24%;
  padding: 1em;
  margin: 1em;
}

img {
  width: 100%;
}